@{
    ViewData["Title"] = "Home Page";
    Layout:
}


    <html>
    <head>


        <title>@ViewData["Title"] - ButchTreat</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <h2> @ViewBag.Title</h2>
        <div class="col-md-6"></div>
        <div class="{product-info">
            <img src="~/img/Vangoh.jpg" : />
            <h2> Mug </h2>
            <ul class="product-Props">
                <li> price : $9.99</li>
                <li> Artist: van goh </li>
                <li> Title: </li>
                <li> Descirptoin: Self-portait</li>
            </ul>
            <button id=" buyButton" class="btn btn-success"> Buy</button>
            </button>
        </div>
        <div class="col-md-6">
            <p> this is fund stite to buy some dutch products</p>
        </div>
        </body>
</html>
